/node_modules
/vendor
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/.git
/.github
.env
.env.*
/docker/nginx/*.log
docker-compose.override.yml
Dockerfile.dev
