@tailwind base;
@tailwind components;
@tailwind utilities;


.feather {
    fill: none;
    transition: all 0.3s;
  }
  .group:hover .feather {
    fill: currentColor;
  }
  .group:active .feather {
    fill: currentColor;
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #ccd6dd;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked {
    background-color: #3b82f6; /* Tailwind blue-500 */
    border-color: #3b82f6;
  }

  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* subtle blue ring */
  }
